* {
  font-family: sans-serif;
}
.nav-link-icon {
  /* color: #303031; */
  color: #59595a;
  /* color: #262626; */
}

.nav-btn:hover .nav-link-icon {
  color: #000;
}
.nav-list {
  padding: 5rem;
}
.nav-btn:hover {
  background-color: #e0eff6 !important;
  border-radius: 10px;
  color: #1c1c1d;
  font-weight: bold !important;
}
.AppBar {
  background-color: #f7f7f7;
  padding: 1rem;
  color: #000;
  border: none;
}

/* .MuiAppBar-root {
  box-shadow: 10px !important;
  border: 0px !important;
  background-color: #f8f7fc !important;
} */

.MuiTableCell-head {
  background: rgb(199, 221, 233) !important;
  /* background: #616161 !important; */
  font-size: 1.1rem !important;
  padding: 1.3rem !important;
  /* color: white !important; */
}
thead .MuiTableCell-root:first-child {
  border-top-left-radius: 5px;
}

thead .MuiTableCell-root:last-child {
  border-top-right-radius: 5px;
}

.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: #d7d7dc !important;
  border: none !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

/* sider shadow */
.MuiDrawer-paperAnchorDockedLeft {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0px 2px 10px -1px rgba(245, 153, 34, 0.2),
    0px 4px 5px 0px rgba(232, 167, 27, 0.14),
    0px 1px 10px 0px rgba(171, 233, 26, 0.12) !important;
}
.dashboard,
.nav-link,
.user {
  color: #7f7f80;
  text-decoration: none;
}

.dashboard:hover,
.user:hover {
  color: orangered;
  /* color: #000; */
}
.dashboard-link,
.user-link {
  text-decoration: none;
  color: #7f7f80;
}
.dob {
  color: #fff;
  border-color: #000;
}

.btn {
  color: #fff;
  border-color: #000;
}

.align {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.loading {
  color: black;
}
.exercise {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  background: #f7f7f7;
}
.btn-align {
  display: flex;
  justify-content: flex-end;
  margin: 3rem;
}
.richtext {
  height: 500px;
  overflow-y: scroll;
  width: 700px;
}

.grid-item,
.grid--2--cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  padding: 1rem;
  gap: 1rem;
}
.grid--2--cols {
  grid-template-columns: 300px 300px;
  gap: 1rem;
  margin-top: 0;
}
.grid-item {
  gap: 2rem;
}
.grid--2--cols-update {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  padding: 2rem;
}
.grid-item-update {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 2rem;
}
.create-btn {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.add {
  display: flex;
  grid-row: 1/-1;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.container {
  background-color: white;
}
.update-day {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #cecece;

  padding: 0 2;
  width: 50vw;
  height: 70px;
  margin: 0 auto;
  align-items: center;
  margin-top: 1rem;
}
.text-container {
  width: 50vw;
  height: 82vh;
  margin: 0 auto;
}
.text-item {
  display: flex;
  justify-content: center;
}
.text-box {
  flex-direction: column;
  display: block;
}
.text-day {
  width: 45vw;
  height: 400px;
  overflow: scroll;
}
